.activityHeader{
    padding: 20px 20px 40px;
    border-bottom: 1px solid #e5e5e5;
}
.headerImg{
    float: left;
    width: 340px;
}
.header_right{
    margin-left: 360px;
}
p{
    line-height: 35px;
    font-size: 14px;
    color: #333;
    margin: 0;
}
.headerP{
    color: #666;
}
.resourceNav{
    padding-left: 20px;
    background-color: #fbfbfb;
    /* height: 50px; */
    border-bottom: 1px solid #e4e4e4;
    overflow: hidden;
}
a{
    color: #333;
}
.resourceNav li{
    float: left;
    margin: 0px 20px;
    line-height: 50px;
    height: 50px;
    font-size: 14px;
    padding: 0 7px;
    box-sizing: border-box;
    color: #999;
}
.liActive{
    border-bottom: 2px solid #00e4ef;
}
.resourceNav li:hover{
    border-bottom: 2px solid #00e4ef;
}
.conpanyContent{
    padding: 20px;
}
.conpanyContent p{
    text-indent: 2em;
    margin: 0;
    line-height: 30px;
}